@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-background: #ffffff;

    --clr-highlight-button: #d4b254;
    --clr-button-on-hover: #c8a74b;

    --clr-title-text: #222222;
    --clr-ui-menus-icons: #000000;
    --clr-light-ui-inactive: #eeeeee;
    --clr-body-text: #777777;
    --clr-sucess-selected: #86cb19;
  }

  body {
    background: var(--clr-background);
    color: var(--clr-body-text);

    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    line-height: var(--font-lineheight-1);

    min-block-size: 100vh;
    min-block-size: 100svh;
    min-block-size: 100dvh;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    max-inline-size: fit-content;

    border-inline: 0;
    border-block: 0;
    border-start-start-radius: 3em;
    border-end-start-radius: 3em;
    border-start-end-radius: 3em;
    border-end-end-radius: 3em;
    padding-inline: 2em;
    padding-block: 0.5em;

    text-align: center;
    color: var(--clr-light-ui-inactive);
    background: var(--clr-highlight-button);
  }

  /* 
    On touch devices, like iPads, the hover state is sticky, so the button stays blue after tapping it. I do not want that:
    https://stackoverflow.com/questions/17233804/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices
  */
  @media (hover: hover) and (pointer: fine) {
    button:hover {
      background: var(--clr-button-on-hover);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h1 {
    max-inline-size: var(--size-header-3);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--font-size-4);
    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
    filter: drop-shadow(0px 0px 12.5px rgba(0, 0, 0, 0.5));
  }

  h2 {
    max-inline-size: var(--size-header-3);

    font-size: var(--font-size-1);
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    filter: drop-shadow(0px 0px 2px #000000);
  }

  h3 {
    max-inline-size: var(--size-header-3);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--font-size-4);
    text-transform: capitalize;

    color: var(--clr-title-text);
  }

  h4 {
    max-inline-size: var(--size-header-3);

    font-size: var(--font-size-1);
    text-transform: uppercase;

    color: var(--clr-highlight-button);
  }

  h5 {
    max-inline-size: var(--size-header-3);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--font-size-3);
    text-transform: capitalize;

    color: #ffffff;
    margin-bottom: var(--size-3);
  }

  h6 {
    max-inline-size: var(--size-header-3);
  }

  p {
    max-inline-size: var(--size-content-3);
    text-wrap: pretty;
  }
}
