.intro {
  inline-size: 100%;
  display: grid;
  gap: var(--size-3);

  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--size-13)), 1fr));

  place-items: center;
}

.intro > header {
  place-self: stretch;
}

.intro > footer {
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
}
